<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head>
	<title>工资计算器</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="renderer" content="webkit">
	<meta name="author" content="XXig">
	<!-- build:css ../css/base.min.css?rev=@@hash -->
	<link rel="stylesheet" type="text/css" href="../css/base.css?rev=@@hash">
	<!-- endbuild -->
	<script>document.documentElement.style.fontSize=window.screen.width/3.75 + 'px'</script>
</head>
<body>
	<div class="load xycenter"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAS1BMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADmYDp0AAAAGXRSTlMAM0wFs8uYZhKAGy4oI1pECqF6aVE9rY1zxQdZqwAAAXNJREFUOMuVkduSgyAMQAOhNSKCtbb2/790Q6imLuyOPQ9mRg65ATXeGA9nMAz8A/oRjyKOHqFmMCYcxWDM0EiYz+lTJMM0Uo5GEqg4cBzhj5ReRd9OqCci6r0DWL5Sq4jaST5A2IQRtfuycJ1tMjahlvS6jz19yDFYJuzjskG6Yd2/TzbzfoBghFCNOD2s8JigQFyntTQjWtLZtc8jQ/Z+FcLRDFVpTNZI1XqZ9c/vuV/e3KFBsG8CXHZaot05LZ4v/T2EUIFTrc3uRtVbxy4dVYxP51zV5aNjDH78uLlMX83cZeIIBb86YfVVP0snLASZWbRbAvD9nfb+bCSAEMVM5RFZe8bcyco+goCvvu9yNNJnKXBzs1RNjiFYrtcFqGcGOU5d3G5TCXmkGeDKAEQWX0WYJCgxt0CbSDObCRpQXmWETYTE4kxQM+fRUcU8Tr80EjrmASrC0DNVShllBRWZTsapoPtMR5GinaCNimeQhVf8AF0PDs6aSayDAAAAAElFTkSuQmCC"></div>
	<div class="alert xycenter"></div>
	<div class="wrap" id="app">
		<!-- <div class="header">工资<span>计算器</span></div> -->
		<div class="main">
			<ul class="tip"><my-tip></my-tip></ul>
			<ul v-show="yes" class="txt">
				<h4>输入信息：</h4>
				<li>房 &nbsp;屋&nbsp; 类&nbsp; 型&nbsp;：
					<select id="fw" v-model="fwlx">
						<option v-for="option of fwlxoptions" :value="option.value">
							{{ option.text }}
						</option>
					</select>
				</li>
				<li>合法产权面积：<input type="number" v-model="hfarea" placeholder="--" Number/>㎡</li>
				<li>家 庭 人 口 数：<input type="number" v-model="mannum" placeholder="--" Number/>人</li>
				<li>旧房重置价格：
					<select v-model="czprice">
						<option selected>砖混结构1300元/㎡</option>
						<option>钢混结构1500元/㎡</option>
						<option>砖木结构1100元/㎡</option>
					</select><br>
				</li>
				<li>户 增 购 面 积：<input type="number" v-model="zgcarea" placeholder="--" Number/>㎡</li> 
			</ul>
			<ul v-show="no" class="result">
				<h4>输入信息</h4>
				<li>房 &nbsp;屋&nbsp; 类&nbsp; 型&nbsp;：<span>{{ fwlxtext }}</span></li>
				<li>合法产权面积：<span>{{hfarea}}㎡</span></li>
				<li>家 庭 人 口 数：<span>{{mannum}}人</span></li>
				<li>旧房重置价格：<span>{{czprice}}</span></li>
				<li class="line">户 增 购 面 积：<span>{{zgcarea}}㎡</span></li>
				<h4>拆迁补贴</h4>
				<li>拆&emsp; 迁&emsp; 费&nbsp;：<span>{{cqf}}元/一次</span></li>
				<li class="line">临 时 安 置 费：<span>{{hfarea}}×{{ fwlx }}（元/㎡）={{myazf|currency '' "2"}}元/每月={{myazf*6|currency '' "2"}}元/六个月</span></li>
				<h4>1:1按时签约</h4>
				<li>安置房总建筑面积：<span><strong>{{oneallarea|currency '' "2"}}㎡</strong></span></li>
				<li>拟收购安置房价格：<span><strong>{{oneallarea*14200|currency '' "2"}}元</strong></span></li>
				<li>合法产权面积价格：<span>{{hfarea*2850|currency '' "2"}}元</span></li>
				<li>0.25系数面积价格：<span>{{xsprice|currency '' "2"}}元</span></li>
				<li>超出产权面积价格：<span>{{(oneallarea-hfarea)*5130|currency '' "2"}}元</span></li>
				<li>户增购面积价格：<span>{{zgprice|currency '' "2"}}元</span></li>
				<li>按时签约奖励：<span>{{jlprice|currency '' "2"}}元</span></li>
				<li>安置房应缴购房款=合法产权面积价格+0.25系数面积价格+超出产权面积价格+户增购面积价格-按时签约奖励=<strong><span>{{onejnprice|currency '' "2"}}元</span></strong></li>
				<li class="line">收购金额=拟收购安置房价格-安置房应缴购房款=<span><strong>{{oneallarea*14200-onejnprice|currency '' "2"}}元</span></strong></li>
			</ul>
		</div>
		<footer class="foot">
			<a class="btn-calculate" href="#" @click.stop.prevent="btn">立即计算</a>
		</footer>
	</div>
	<!-- build:js ../js/main.min.js?rev=@@hash -->
	<script src="../js/zepto.min.js?rev=@@hash"></script>
	<script src="../js/vue.js?rev=@@hash"></script>
	<script src="../js/style.js?rev=@@hash"></script>
	<!-- endbuild -->
</body>
</html>