<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head>
	<title>筛选工具-XXig</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="format-detection" content="telephone=no, email=no">
	<meta name="renderer" content="webkit">
	<meta name="author" content="xxig.me@qq.com">
	<!-- build:css ../css/base.min.css?rev=@@hash -->
	<link rel="stylesheet" type="text/css" href="../css/base.css?rev=@@hash">
	<!-- endbuild -->
</head>
<body>
	<div class="alert xycenter"></div>
	<div class="wrap" id="app">
		<div class="main">
			<ul class="txt">
				<li>原&nbsp; 数&nbsp;据：<input type="txt" v-model="base.data" placeholder="请输入数据" @keyup="keycode($event)"/></li>
				<li>对比数据：<input type="txt" v-model="compare.data" placeholder="请输入数据" @keyup="keycode($event)"/></li>
				<a class="btn" title="立即筛选" @click.stop.prevent="createcomparedata">立即筛选</a>
			</ul>
			<div class="data-box">
				<ul>
					<!-- :listdata、:bool 表示绑定在实例上（有冒号的） -->
					<!-- tit 组件中定义 -->
					<tablelist :listdata='basedata' :bool='yes' tit="原数据"></tablelist>
				</ul>
				<ul>
					<tablelist :listdata='comparedata' :bool='yes' tit="对比数据"></tablelist>
				</ul>
			</div>
		</div>
		<div class="result-box">
			<tablelist :listdata='resultdata' :bool='yes' tit="筛选结果(保留重复项)"></tablelist>
		</div>
	</div>
	<!-- 模板组件 -->
	<template id="tp-list">
		<!-- 必须 template>div>模板组件Html 层级 -->
		<div>
			<table>
				<thead><tr><th>{{tit}}</th></tr></thead>
				<tr v-if="bool"><td>暂无数据</td></tr>
				<tr v-else v-for="datas in listdata">
					<td>{{datas}}</td>
				</tr>
			</table>
		</div>
	</template>
	<!-- build:js ../js/main.min.js?rev=@@hash -->
	<script src="../js/vue.js?rev=@@hash"></script>
	<script src="../js/style.js?rev=@@hash"></script>
	<!-- endbuild -->
</body>
</html>